$accentColor = #ff7f50
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.hero
	height 80vh
	padding 20vh 5vh
	box-sizing border-box


// @media (prefers-color-scheme: dark) {
// 	body {
// 		background-color: #191919;
//     color: rgba(255,255,255,0.8);
// 	}
// 	a {
// 		color: rgba(255,255,255,0.8);
// 	}
// }
